/* TAGS */
*{
	body{
		position:relative;
		font-family:$font-stack-1;
		font-size:$general-font-size;
		color:$general-font-color;
		&.show-menu{
			overflow: hidden;
		}
	}

	h1{
		@include build-title;

		.side-block{
			float:right;
			height:24px;
			padding:5px;
			margin:-5px 0;
			&.add-block{
				background:$site-color-1;
				color:#fff;
				a{
					color:#fff;
					padding:0 10px;
					text-decoration:none;
				}
			}
			&.alerts-block{
				background:#cde0b8;
				color:$general-font-color;
				font-size:15px;
				padding-left:10px;
				padding-right:10px;
				font-weight:normal;
				.count{
					@include border-radius(50%);
					width:24px;
					height:20px;
					padding:4px 0 0 0;
					color:#fff;
					background:$site-color-1;
					text-decoration:none;
					text-align:center;
					font-size:16px;
					font-weight:bold;
					display:inline-block;
					vertical-align:middle;
				}
			}
		}

		&.style-2{
			background:$site-color-1;
			color:#fff;
		}

		&.style-3{
			background:none;
			@include font-sizes(72px);
			height:auto;
			line-height:1;
			font-family:$font-stack-2;
			text-transform:uppercase;
			padding:0;
			margin:0 0 40px 0;
			.line-1{
				color:$site-color-1;
				display:block;
			}
			.line-2{
				color:#9fa1a4;
				display:block;
			}
		}

		&.style-4{
			background:none;
			font-size:48px;
			height:auto;
			line-height:1;
			font-family:$font-stack-2;
			text-transform:uppercase;
			padding:0;
			margin:0 0 20px 0;
			.line-1{
				color:#6d6e71;
				display:block;
			}
			.line-2{
				color:$site-color-1;
				display:block;
			}
		}

		&.style-5{
			background:none;
			font-size:48px;
			height:auto;
			line-height:1;
			font-family:$font-stack-2;
			text-transform:uppercase;
			padding:0;
			margin:0 0 20px 0;
			color:$site-color-1;
		}
	}

	h2{
		font-family:$font-stack-2;
		//GREEN, USED IN HOME PAGE
		&.style-2{
			color:$site-color-1;
			font-size:36px;
			text-transform:uppercase;
			margin:0 0 18px 0;
		}

		//GREY, USED IN HOME PAGE
		&.style-3{
			color:$site-grey-3;
			font-size:30px;
			text-transform:uppercase;
			margin:0 0 20px 0;
		}

		//GREEN, USED IN MY CHANGE 4 LIFE
		&.style-4{
			color:$site-color-1;
			font-size:20px;
			margin:0 0 20px 0;
		}

		//GREY, USED IN HRA
		&.style-5{
			color:#6d6e71;
			font-size:28px;
			text-transform:uppercase;
			margin:0 0 20px 0;
			.alt{
				color:$site-color-1;
			}
		}

		&.style-6{
			color:#6d6e71;
			font-size:24px;
			//text-transform:uppercase;
			margin:0 0 15px 0;
		}
	}

	h3{
		&.style-1{
			@include build-title($font-stack-1, 20px, $site-color-1, none);
			font-weight: bold;
			.alt{
				color: $site-grey-3;
			}
		}
	}

	a{
		color:$site-color-1;
		text-decoration: none;
		&[target="_blank"]{
			text-decoration:underline;
		}
		&:hover, &:focus{
			text-decoration: underline;
		}
	}

	img{
		max-width: 100%;
	}

	//bullet: GREY ARROW
	ul.list-tyle-1{
		margin:0 0 15px 0;
		padding:0;
		list-style:none;
		li{
			background:url(../images/bull-1.png) top left no-repeat;
			padding:0 0 0 25px;
			line-height:1.3;
			margin:0 0 12px 0;
		}
	}

	//bullet: GREY DOT
	ul.list-tyle-2{
		margin:0 0 15px 0;
		padding:0;
		list-style:none;
		li{
			background:url(../images/bull-2.gif) left 5px no-repeat;
			padding:0 0 0 25px;
			line-height:1.3;
			margin:0 0 12px 0;
		}
	}

	.number-list{
		@include build-order-list(#75ad5a, $general-font-color);
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type=number]{
		@include build-input(1px solid #ccc, 4px, #fff, #666, 12px,inset 2px 2px 4px rgba(0,0,0,.3),.6em 1em);
		&.text-input-type-1{
			@include text-input-type-1();
		}
	}
	select{
		@include appearance;
		@include build-input(1px solid #ccc, 4px, #fff, #666, 12px,inset 2px 2px 4px rgba(0,0,0,.3),.6em 1em);
		padding-right: 40px;
		background:#fff url(../images/theme/ddm.jpg) no-repeat center right;
	}

	.radio-button{
		display:inline-block;
		position: relative;
		padding:0!important;
		margin-right: .5em;
		overflow:hidden;
		vertical-align: middle;
		input[type="radio"]{
			visibility: hidden;
			position: absolute;
			top: 0;
			left: -100em;
		}
		.face-radio{
			width:19px;
			height:19px;
			display:inline-block;
			background-image:url(../images/form/radio.png);
			background-repeat:no-repeat;
			background-position:0 0;
		}
		input[type="radio"]:checked ~ .face-radio{
			background-position:bottom left;
		}
	}

	.checkbox-button{
		display:inline-block;
		margin-right: .5em;
		position: relative;
		padding:0!important;
		overflow:hidden;
		vertical-align: middle;
		input[type="checkbox"]{
			visibility: hidden;
			position: absolute;
			top: 0;
			left: -100em;
		}
		.face-checkbox{
			display:inline-block;
			width:18px;
			height:18px;
			background-image:url(../images/checkbox.gif);
			background-position: top center;
			background-repeat: no-repeat;
		}
		input[type="checkbox"]:checked ~ .face-checkbox{
			background-position:bottom center;
		}
	}
}

.general-content{
	@include clearfix;
	ul{
		margin:0 0 15px 0;
		padding:0;
		list-style:none;
		li{
			background:url(../images/bull-2.gif) left 5px no-repeat;
			padding:0 0 0 25px;
			line-height:1.3;
			margin:0 0 12px 0;
			li{

				background:url(../images/dash.png) left 5px no-repeat;
			}
		}
	}
	ol{		
		@include layoutlist;
		>li{
			position:relative;
			padding-left: 2em;
			margin-bottom: 1em;
			line-height: 1.3;
			counter-increment: step;
			&:before{
				content: counter(step) ;
				display: block;
				position: absolute;
				top: 0;
				left: .5em;
				color: $site-color-1;
			}
		}
	}
	.btn{
		@include btn-type-3(14px);
	}
	h2{
		margin:0 0 1em 0;
	}
}

.headline{
	@include font-sizes(16px);
	@include border-radius($general-round-corner);
	border:1px solid $site-color-1;
	padding:1.2;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 20px;
	color: $site-color-1;
}

//right side big box
*{
	.user-info-boxes{
		border:1px solid $site-grey-5;
		padding:10px;
		margin:0 0 15px 0;
		.user-info-box{
			.user-info-box-content{
				line-height: 1.5;
			}
			.has-more-item{
				display: none;
			}
		}

		.user-name{
			font-family: $font-stack-2;
			@include font-sizes(24px);
			text-transform:uppercase;
			color:$site-grey-3;
			margin:0 0 6px 0;
		}

		.user-menu-list{
			@include layoutlist;
			color:$site-grey-5;
			@include font-sizes(12px);
			margin:0 0 .5em 0;
			li{
				display: inline-block;
				vertical-align:middle;
				&:after{
					content: "";
					display:inline-block;
					vertical-align:middle;
					margin:0 6px;
					border-left:1px solid $site-grey-5;
					width: 1px;
					height: 1em;
				}
				a{
					color:$site-color-1;
					font-weight:bold;
					text-transform:uppercase;
					vertical-align:middle;
				}
				&:last-child{
					&:after{
						display: none;
					}
				}
			}
		}

		h3{
			position: relative;
			text-transform:uppercase;
			@include font-size(14px);
			font-weight:bold;
			line-height:1.3;
			color:$site-grey-3;
			background:$site-grey-1;
			padding:10px 40px 10px 8px;
			margin:0 0 8px 0;
			.title-btn{
				display:block;
				width:40px;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				text-indent:-1000px;
				overflow:hidden;

				background:url(../images/user-info-state-close.jpg) center center;
				&.shown{
					background:url(../images/user-info-state-open.jpg) center center;
				}
			}
		}

		.name-points-bar{
			width: 100%;
			display: table;
			margin:0 0 10px 0;
			.cell{
				display: table-cell;
				padding:0 10px;
			}
			.name{
				text-align:left;
				@include font-sizes(14px);
				line-height: 1.1;
			}
			.points{
				text-align:right;
			}
		}

		.left-right-btns{
			@include font-sizes(14px);
		}
	}

	.user-update-email{
		background:#a8a9ab url(../images/email2.png) 10px 2px no-repeat;
		color:#fff;
		padding:.8em 10px .8em 45px;
		margin-bottom: .8em;
		a{
			color:#fff;
		}
	}

	#time-zone{
		a{
			white-space: nowrap;
			color:$site-grey-3;
		}
	}

	.points-links-bar{
		display:table;
		width:100%;
		@include font-size(14px);
		.part-1{
			@include font-size(11px);
			display: table-cell;
			text-align: left;
			width: 55%;
			background: #e6e7e8;
			padding:6px;
			.num{
				background: $site-color-1;
				color:#fff;
				display: inline-block;
				padding:5px;
				@include font-size(16px);
				float: left;
				margin-right: 6px;
			}
		}
		.part-2{
			display: table-cell;
			width: 45%;
			background: $site-color-1;
			padding:6px;
			vertical-align: middle;
			text-align: left;
			a{
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

@include bp-small{
	.my-points{
		border:1px solid #ccc;
		width: 100%;
		display: block;
		width: auto;
		padding:10px;
		margin-bottom: 1em;
		.cell{
			display: block;
			padding: 0;
		}
		.points-balance{
			width: 100%;
		}
	}
}

.cal-tbl{
	border:1px solid $site-color-1;
	width:100%;
	margin-bottom: 20px;
	caption{
		background: $site-color-1;
		color: #fff;
		@include font-size(20px);
		text-align: center;
		padding:10px;
	}
	th{
		border:1px solid #fff;
		background:#afb1b3;
		padding:5px;
		color: #464748;
		@include font-size(20px);
		font-family: $font-stack-2;
		text-align: center;
	}
	td{
		border:1px solid $site-color-1;
		@include font-size(14px);
		position: relative;
		padding:1em;
		height: 3em;
		width: 1/7*100%;
	}
	.date{
		position:absolute;
		top: 2px;
		left: 2px;
		display: block;
		color: #000;
	}
	.checked{
		position:absolute;
		top: 1em;
		left: 0;
		right: 0;
		display: block;
		text-align: center;
		padding:8px 0 0 0;
	}

	.inactive{
		.date{
			color:#aaabad;
		}
	}
}

.pager{
	margin:0 0 20px 0;
	ul{
		li{
			display:inline-block;
			&.pager-next{
				a{
					background:url(../images/link-pager-next.gif) no-repeat;
					display:block;
					width:22px;
					height:22px;
					text-decoration:none;
				}
			}
			&.pager-prev{
				a{
					background:url(../images/link-pager-prev.gif) no-repeat;
					display:block;
					width:22px;
					height:22px;
					text-decoration:none;
				}
			}
		}
		a.active{
			font-weight:bold;
			text-decoration:none;
		}
	}
}

.survey-group{
	display:table;
	width:100%;
	margin:0 0 30px 0;
	@include font-sizes(17px);
	.survey-item{
		@include font-size(16px);
		display:table-row;
		.question{
			display:table-cell;
			color:#6d6e71;
			padding:10px;
			//border-bottom:1px solid #d2d2d2;
			padding-right:1em;
			width: 45%;
			a{
				display: inline-block;
				width: 18px;
				height: 18px;
				line-height: 18px;
				border:1px solid $site-color-1;
				text-align: center;
				@include border-radius(50%);
			}
			h3{
				@include font-sizes(25px);
				color:$site-color-1;
				font-family: $font-stack-2;
				margin: 0;
			}
		}
		.options{
			display:table-cell;
			padding:10px;
			//border-bottom:1px solid #d2d2d2;
			label{
				white-space:nowrap;
			}
		}
		.message{
			display:table-cell;
			text-align: left;
			padding:10px;
			//border-bottom:1px solid #d2d2d2;
			padding-right:0;
			color:$site-grey-3;
			margin:1em 0;
			.size-s{
				font-weight: normal;
				@include font-sizes(16px);
			}
			h3{
				@include font-sizes(25px);
				color:$site-color-1;
				font-family: $font-stack-2;
				margin: 0;
			}
		}
		.congrats{
			@include font-sizes(14px);
			font-weight:bold;
			color:$site-color-1;
		}
		&:last-child{
			div{
				border-bottom:none;
			}
		}

		&.head{
			.question,.message{
				border-top:2px solid #cacacb;
			}
			&:first-child{
				.question,.message{
					border-top:none;
				}
			}
		}
	}
	border-bottom:2px solid #cacacb;
}

.hints-btn-pair{
	.btn-hints{
		@include btn-type-4(14px);
		font-family:$font-stack-1;
		line-height:22px;
	}
	.btn{

		@include btn-type-1(14px);
		font-family:$font-stack-1;
	}
}

.btns-pair{
	margin:0 0 10px 0;
	.btn{
		&.yes{
			@include btn-type-1(22px);
			width:290px;
			margin:0 0 10px 0;
			display:block;
		}
		&.no{
			@include btn-type-1(22px);
			width:290px;
			margin:0 0 10px 0;
			display:block;
		}
	}
}


@import "pages/_home";
@import "pages/_spotlight";
@import "pages/_learn";
@import "pages/_medications";
@import "pages/_tools";
@import "pages/_rewards";
@import "pages/_hra";






































/********************	COMPONENTS		********************/
*{	














/* 	.tool-item{
	border:2px solid #ccc;
	padding:5px;
	margin:0 0 15px 0;
	.name{
		min-height:35px;
		margin:0 0 5px 0;
		display:block;
		font-weight:bold;
	}
	.thumbnail{
		text-align:center;
		margin:0 0 10px 0;
	}
	.btn{
		@include btn-type-3(14px);
		margin:0 0 15px 0;
	}
} */

/* 
	.box-style-1{
		background:#f0f1f1;
		padding:20px;
		@include font-sizes(17px);
		color:#231f20;
	} */

/* 	.risk-legend{
	display:inline-block;
	padding:6px 0 6px 30px;
	margin:0 10px;
	&.high{
		background:url(../images/theme/mark2.png) left center no-repeat;
	}
	&.moderate{
		background:url(../images/theme/mark3.png) left center no-repeat;
	}
	&.low{
		background:url(../images/theme/mark4.png) left center no-repeat;
	}
} */


}


*{
	/* 
	.welcome{
		@include font-sizes(48px);
		line-height:1;
		font-family:$font-stack-2;
		text-transform:uppercase;
		color:$site-color-1;
		margin:0 0 15px 0;
		.alt{
			color:$site-grey-3;
		}
	}
	
	.rewards-like{
		@include layoutlist();
		margin:0 0 30px 0;
		li{
			float:left;
			width:25%;
			img{
				max-width:100%;
			}
		}
	} */


}

/********************  LOGIN SIDE BAR  ********************/
*{
	/* .users-points{
		background:$site-color-1;
		color:#fff;
	} */
}

/********************  LEARN EARN 		********************/
*{




/* 	.learn-earn-sponsor-logos-bar{
	text-align:right;
	margin:0 0 15px 0;
} */

/* 	.medication-mod-content{
	position:relative;
	h2{
		@include font-sizes(18px);
		font-weight:bold;
		margin:0 0 1em 0;	
	}
	.cv-btn,
	.btn{
		@include btn-type-3(14px);
	}
	.mod-highlight-1{
		font-weight:bold;
		color:$site-color-1;
	}
	.mod-highlight-2,
	.mod-highlight-3{
		font-weight:bold;
		color:$site-color-1;
	}
	#mod-nav{
		@include clearfix();
		text-align:right;
		margin:0 0 15px 0;
	}
	.mod-boxes{
		@include justify-align();
		.mod-box{
			display:inline-block;
			width:48%;
			vertical-align:top;
			text-align:center;
			font-weight:bold;
			color:$site-color-1;
			@include gradient(#fff,#e8f4d9);
			@include border-radius($general-round-corner);
			//@include shadow(1px 1px 3px 1px #ccc);
			border:2px solid $site-color-1;
			h2{
				background:$site-color-1;
				padding:5px 10px;
				color:#fff;
			}
			a{
				font-weight:bold;
				color:$site-color-1;
				text-decoration:none;
			}
			&>.inner{
				padding:10px;
			}
		}
	}

	.quiz-list{
		li{
			.radio-field{
			    padding-top:10px;
			}
		}
		.wrong-mark{
		    color:black;    
		}
		.correct-mark span{
		    font-weight: bold;
		}
	}
	ul{
	    margin:0;
	    padding:0;
	    li{
		    background:url(../images/medications-modules/bullet.gif) 35px 4px no-repeat;
		    padding-left:52px;
		    list-style:none;
		    text-align:left;
		    margin:0 0 1em 0;
		     ul li{
			    background:url(../images/medications-modules/bullet.gif) 35px 4px no-repeat;
		    	margin:0 0 1em 0;
			}
		}
	}

	.content-order-list{
	    color:$site-color-1;
	    @include font-sizes(16px);
	    font-weight:bold;
	    list-style:decimal;
	    margin:0 0 1em 1.5em;
	    li{
		    margin-bottom:20px;
		    span{
			    @include font-sizes(14px);
			    font-weight:normal;
			    color:#231f20;
			}				
			.mod-highlight-3{
				font-weight:bold;
				color:$site-color-1;
			}
		}
	}
} */

/* 	blockquote{
	background-image:none;
	margin:0 0 1em 1em;
	padding:15px;
} */




/* */



}

/********************  REMINDERS  		********************/
*{
	


/* 	#health-reminders{
	h2{
		@include border-radius(10px 10px 0 0);
		background:$site-color-1;
		color:#fff;
		border-bottom:1px solid #ccc;
		@include font-sizes(20px);
		padding:15px;
		margin:0;
	}
	.list-closure{
		margin:0 0 15px 0;
		
	}
} */




}

/******************** TOOLS 			********************/
*{
	
/* 	.green-grey-tbl{
	margin:0 0 20px 0;
	td{
		padding:10px;
		border:1px solid #fff;
		border-collapse:collapse;
	}
	.cell-1{
		background:$site-color-1;
		@include font-sizes(20px);
		font-weight:bold;
		color:#fff;
		vertical-align:middle;
	}
	.cell-2{
		background:$site-grey-3;
		@include font-sizes(20px);
		color:#fff;
	}
	.cell-3{
		background:#e8f4d9;
		@include font-sizes(12px);
		.lead{
			@include font-sizes(16px);
			color:$site-color-1;
			display:block;
			line-height:1.5;
		}
	}
} */

/* 	.tool-page{
	@include clearfix();
	@include font-sizes(14px);
	h3{
		font-weight:bold;
		margin:0 0 1em 0;
	}
	ul{
		@extend .list-tyle-2;
		li{
			margin:0 0 6px 0;
		}
	}
	.btn{
		@include btn-type-3(14px);
		margin:5px 10px;
	}
	.rptTable{
        border-collapse: collapse;
        td{
            border: 1px solid $site-color-1;
            padding: 5px;
            text-align: left;
            height: 25px;
            vertical-align: middle;
            td{
            	border:none;
            }
        }
        .btn{
        	@include btn-type-3(14px);
        }
    }
    .cr-table{
    	margin:0 0 1em 0;
    	td{
    		padding:0 5px 10px 0;
    	}
    }
} */

/* 	.popup-content{
	.btn{
		@include btn-type-3(14px);
	}
}

.olist{
	list-style:decimal;
	margin:0 0 1em 0;
	li{
		margin:0 0 1em 1em;
	}
} */
}

/******************** REWARDS 			********************/
*{




/* 	#reward-congras-popup{
	@include font-sizes(17px);
	.congrats-text{
		@include font-sizes(18px);
		color:#6d6e71;
		margin:30px 0;
	}
}

.rewards-popup{
	padding:25px 40px;
	margin:20px 0;
	@include clearfix();
	.part-1{
		width:32%;
		float:left;
	}
	.part-2{
		width:58%;
		float:right;
	}
	.btn{
		@include btn-type-3(14px);
	}
	input[type="text"]{
	}
	h1{
		font-family:$font-stack-2;
		@include font-sizes(36px);
		padding:0;
		background:none;
		color:#6d6e71;
		margin:0 0 10px 0;
	}
	h2{
		font-family:$font-stack-2;
		@include font-sizes(28px);
		color:$site-color-1;
		margin:0 0 15px 0;
	}
} */
}

/******************** MY CART 			********************/
*{
	.shop-btns-bar{
		text-align:right;
		margin:0 0 15px 0;
		.btn{
			@include btn-type-3(14px);
		}
	}

	.sort-box{}


	.reward-list-holder{}

	.items-in-cart{
		display:table;
		margin:0 0 15px 0;
		float:right;
		.items-in-cart-item{
			display:table-row;
			background:$site-grey-1;
			color:#666;
			.cell{
				display:table-cell;
				padding:10px;
				&.cell-1{
					text-align:right;
				}
			}
			&.head{
				@include border-radius($general-round-corner $general-round-corner 0 0);
				background:#231f20;
				color:#fff;
				font-weight:bold;
			}
		}
	}

}



/******************** HISTORY 				********************/





/* .hhs-message-box{
    background:#fff;
    padding:60px 50px;
    width:550px;
    margin:0 auto;
    position:relative;
    font-size:18px;
    text-align:center;
    h1{
    	font-size:54px;
    	padding:0;
    	background:none;
    	text-transform:uppercase;
		.alt{
			color:$site-color-1;
		}
    }
    .form{
    	text-align:left;
    }
}

.text-style-1{
	font-size:25px;
	color:#6d6e71;
	font-family:$font-stack-2;
}

.text-style-2{
	font-size:34px;
	color:#8ec73f;
	font-family:$font-stack-2;
}

.text-style-3{
	font-size:25px;
	color:#8ec73f;
	font-family:$font-stack-2;
} */








/* .pipe-bar{
	@include pipe-bar;
}

.active-tracker-list{
	@include layoutlist();
	li{
		@include border-radius(7px);
		@include box-model(border-box);
		width:32%;
		margin-right:2%;
		float:left;
		&:nth-child(3n){
			margin-right:0;
		}
		border:1px solid #b7b7b7;
		padding:15px 18px;
		color:#5e5d5d;
	}

	a{
		color:#5e5d5d;
	}

	.points-box{
		@include pipe-bar;
		color:#fff;
		border:1px solid #b7b7b7;
		background:#b7b7b7;
		.points{
			font-size:11px;
			background:#8dc63f;
			vertical-align:middle;
			padding:5px;
			width:50px;
			strong{
				font-size:15px;
				text-align:center;
				display:block;
			}
		}
		.label{
			font-size:17px;
			padding:.6em 1em; 
			font-weight:bold;
		}
		.cell{
			vertical-align:middle;
		}
		margin:0 0 20px 0;
	}

	.line-2{
		font-size:13px;
	}

	.line-3{
		font-size:12px;
	}
	.value{
		color:#fff;
		background:$site-color-1;
		padding:.5em 1em;
		display:inline-block;
	}

	.btn{
		@include btn-type-3(14px);
		width:100%;
	}
}

.side-message-box-2{
	border:2px solid $site-grey-1;
	padding:0 8px 8px 8px;
	@include font-size(14px);
	margin-bottom: 1em;
	h2{
		background: $site-color-1;
		color:#fff;
		margin:0 -8px 12px -8px;
		font-family: $font-stack-2;
		font-size:18px;
		text-align: center;
		padding:.3em 1em;
	}
	h3{
		@include font-size(12px);
		color: #fff;
		background: #a7a9ac;
		padding:5px;
		margin-bottom: .6em;
		height: 37px;
		line-height:37px;
		.fr &{
			height: 50px;
		}
		span{
			line-height: 1;
			vertical-align: middle;
			display: inline-block;
		}
		a{
			color:#fff;
			text-decoration: none;
		}
	}
}


.cal{
	@include box-model(border-box);
	background: url(../images/calendar_bg.jpg) no-repeat;
	width: 90px;
	height: 101px;
	text-align: center;
	padding-top:35px;
	color: #6d6e71;
	display:inline-block;
	.date{
		font-size:30px;
		font-weight: bold;
		line-height: 1;
		margin-bottom: 5px;
	}
	.dl{
		font-size: 12px;
		line-height: 1;
	}
}
 */

/* 
.tbl-top-blocks{
	display:table;
	width: 100%;
	margin-bottom: 10px;
	table-layout:fixed;
	.cell{
		display: table-cell;
		width: 33%;
		vertical-align: bottom;
		text-align:center;
		&:first-child{
			text-align: left;
		}
		&:last-child{
			text-align: right;
		}
		&:nth-child(2){
			background: #e7e7e8;
			padding:1em .5em;
			@include font-size(20px);
		}
	}
} 

.message-popup{
	max-width:600px;
	margin: 0 auto;
	background: #fff;
	color:#000;
	@include font-size(18px);
	padding:2em;
	position: relative;
	.topline{
		font-family: $font-stack-2;
		@include font-size(54px);
		color: $site-color-1;
		text-align: center;
		margin-bottom: .8em;
		.alt{
			color: $site-grey-3;
		}
	}
	.topline-2{
		font-family: $font-stack-2;
		@include font-size(36px);
		color: $site-color-1;
		text-align: center;
	}
}

.greeting-popup{
	@include build-popup(970px, 30px);
	.popup-body{
		padding: 40px 100px;
	}

	h1{
		font-family: $font-stack-1-regular;
		text-transform: inherit;
	}

	.row-layout-input{
		width: 100%;
		text-align: center;
		.cell{
			padding:1em;
		}
	}
}

#steps-study-page{
	background-image:url(../images/steps-study/bg1.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size:contain;
	background-color: #FFF;
	padding:110px 0 0 40px;
	position:relative;
	&.size-2{
		padding:110px 0 0 150px;
	}
	&.size-3{
		padding:110px 0 0 100px;
		.intro{
			padding-left: 60px;

		}
	}
	&.in-popup{
		padding-top:120px;
		max-width: 540px;
		margin: 10px auto;
		position: static;
        .close-iframe-popup{
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			font-size:30px;
			width: 40px;
			height: 40px;
			text-decoration: none;
			text-align: center;
			line-height: 40px;
			background: none;
			color: #fff;
			background: #6d6e71;
			text-indent: 0;
        }
		h1{
			left: 200px;
		}
        .general-content{
        	@include font-size(16px);
        }
	}

	&.no-decor.in-popup{
		background-image:url(../images/steps-study/spacer.jpg);
		padding:0;
	}

	h1{
		@include font-size(24px);
		//font-family: $font-stack-1-regular;
		position:absolute;
		top:40px;
		left: 160px;
		background: none;
		padding:0;
		color: #000;
		text-transform: inherit;
		&.size-2{
			@include font-size(36px);
		}
	}

	.above{
		position:absolute;
		top:20px;
		left: 160px;

	}

	.intro{
		min-height: 80px;
		padding-left: 120px;
		@include font-size(18px);
		line-height: 2;
		@include clearfix;
	}

	.btn{
		@include btn-type-1(22px);
	}

	.icon-btn-bar{
		@include icon-text-bar;
		width: 100%;
	}

	.how-much-time-list{
		@include table-list;
		width: 100%;
		margin-bottom: 2em;
		.cell{
			vertical-align: top;
			&.lead{
				width: 60px;
			}
		}
		.alph{
			cursor: pointer;
			width: 20px;
			height: 20px;
			padding:20px;
			@include border-radius(50%);
			border:3px solid $site-color-1;
			color:$site-color-1;
			font-size:20px;
			line-height: 1;
			text-align: center;
		}
		.line-1{
			@include font-size(20px);
			margin-bottom: .5em;
		}
		.line-2{
			@include font-size(12px);
			font-style: italic;
			text-align: right;
			margin-bottom: .5em;
			color: #000;
		}
		.time-scale{
			height: 20px;
			@include border-radius(10px);
			border:2px solid $site-color-1;
			overflow: hidden;
			.level{
				//@include border-radius(10px 0 0 10px);
				height: 20px;
				background: #d9eabe;
			}
		}

		.opt-1{
			.level{
				width: 20%;
			}
		}

		.opt-2{
			.level{
				width: 50%;
				background: #8eca69;
			}
		}

		.opt-3{
			.level{
				width: 80%;
				background: #0d9347;
			}
		}

		.fade{
			color: #cdcccc;
			.alph{
				color: #cdcccc;
				border-color:#cdcccc;
			}
			.time-scale{
				border:2px solid #cdcccc;
				.level{
					background: #cdcccc;
				}
			}
		}

		.active{
			color: #8cc640;
			.alph{
				color: #fff;
				background: #8cc640;
			}
			.time-scale{
				border:2px solid #8cc640;
				.level{
				}
			}

		}
	}

	.opt-content{
		display: none;
		&.on{
			display: block;
		}
	}

	.yes-no-question-list{
		@include layoutlist;
		li{
			border:2px solid $site-color-1;
			@include border-radius(10px);
			padding:1em;
			margin-bottom: 1em;
			@include clearfix;
			.question{
				@include box-model(border-box);
				@include font-size(16px);
				width: 74%;
				float:left;
				padding-left: 1.5em;
				position: relative;
				.num{
					line-height: 1.3;
					position: absolute;
					top:0;
					left: 0;
				}
			}
			.options{
				@include font-size(14px);
				width: 25%;
				float:right;
				text-align: right;
				>label{
					margin-right: 1em;
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
	}

	#rejected{
		@include font-size(23px);
	}

	.tabs{
		border:1px solid #818285;
		@include border-radius(5px);
		overflow: hidden;
		.tabs-nav{
			display: table;
			margin: 0 0 20px 0;
			width: 100%;				
			>li{
				position: relative;
				counter-increment: step;
				&:before{
					content: counter(step);
					display: block;
					position: absolute;
					top: 1em;
					left: 1em;
					color: #bdbec0;
				}
				font-family: $font-stack-2;
				@include font-size(20px);
				display: table-cell;
				padding:1em 2em;
				background: #e7e7e8;
				border-right: 2px solid #fff;
				&:last-child{
					border-right:none;
				}
				>span{
					color: #bdbec0;
					text-decoration: none;
				}
				&.on{
					&:before{
						color: $site-color-1;
					}
					background: #d1d2d4;
					>span{
						color: $site-color-1;
					}

				}
			}
		}

		.tab-content{
			padding:1em;
		}
	}

	input[type="text"]{
		border:1px solid #595758;
		padding: .5em;
		@include box-model(border-box);
	}

	select.original-style{
		//@include build-input;
		@include box-model(border-box);
		//@include appearance(none);
		background:url(../images/ddm-btn.png) center right no-repeat;
		padding: .5em;
		max-width: 100%;
		border:1px solid #595758;
		
	}
	.input-line{
		margin-bottom: 1em;
	}

	.form-1{
		.field{
			display: table;
			margin-bottom: 1em;
			width: 100%;
			label{
				display: table-cell;
				width: 100px;
				padding-right: 1em;
			}
			.input{
				display: table-cell;
				input[type="text"]{
					width:100%;
				}
			}
		}
	}
	.form-2{
		@include form-grid-layout;
		label{
			display: block;
			margin-bottom: .5em;
		}
		.input-size-3{
			width: 3em;
		}
	}
	.form-3{
		.field{
			@include clearfix;
			margin-bottom: 1em;
			.field-name{

			}
			.input{
				text-align: justify;
				position: relative;
				@include clearfix;
				padding: 0 30px;
				&:before{
					display: block;
					content: "";
					height: 5px;
					border:1px solid #c4c5c7;
					position: absolute;
					top:5px;
					left: 1em;
					right: 1em;
					@include gradient-horizontal(#fff, #3bb54b);
				}
				&:after{
					display: inline-block;
					content: "";
					width: 100%;
				}
				.item{
					width: 20px;
					display: inline-block;
					position: relative;
					z-index: 100;
					text-align: center;
					label{
						position: absolute;
						width: 100px;
						left: -40px;
						text-align: center;
						font-size: .8em;
						padding:.5em 0;
						display: block;
					}
				}
			}
		}
	}

	.icon-text-bar{
		.icon,.text{
			padding:0 .5em 1em 0;
		}
	}

	#eligibility-success-popup{

	}

	#steps-history{
		@include font-size(20px);
		margin-bottom: 2em;
		background: url(../images/steps-study/img4.jpg) bottom center no-repeat;
		h2{
			font-family: $font-stack-2;
			@include font-size(36px);
			background: url(../images/steps-study/line-1.jpg) bottom left no-repeat;
			padding-bottom:20px;
			margin-bottom: 1em;
		}
	}

	#steps-study-gift-card{
		@include font-size(20px);
		text-align: center;
	}

	.device-id-input{
		@include input-bar();
		margin-bottom: 5em;
		.cell{
			padding:0 1em;
		}
		font-family: $font-stack-2;
		@include font-size(24px);
		input[type="text"]{
			border:none;
		}
	}

	.icon-text-bar{
		.icon{
			vertical-align: top;
		}
	}

	.border-text{
		border:2px solid #116333;
		padding:.5em 1em;
		font-family:$font-stack-2;
		color:#116333;
		display:inline-block;
	}

	.calendar{
	}

	.gift-cards{
		.gift-cards-list{
			@include grid-list;
			>li{
				border:1px solid $site-color-1;
				margin-bottom: 0;
				.image{
					padding:1em;
				}
			}
		}
	}
}
*/