/* TAGS */
*{
	body{
		position:relative;
		font-family:$font-stack-1;
		font-size:$general-font-size;
		color:$general-font-color;
		&.show-menu{
			overflow: hidden;
		}
	}

	h1{
		@include build-title;

		.side-block{
			float:right;
			height:24px;
			padding:5px;
			margin:-5px 0;
			&.add-block{
				background:$site-color-1;
				color:#fff;
				a{
					color:#fff;
					padding:0 10px;
					text-decoration:none;
				}
			}
			&.alerts-block{
				background:#cde0b8;
				color:$general-font-color;
				font-size:15px;
				padding-left:10px;
				padding-right:10px;
				font-weight:normal;
				.count{
					@include border-radius(50%);
					width:24px;
					height:20px;
					padding:4px 0 0 0;
					color:#fff;
					background:$site-color-1;
					text-decoration:none;
					text-align:center;
					font-size:16px;
					font-weight:bold;
					display:inline-block;
					vertical-align:middle;
				}
			}
		}

		&.style-2{
			background:$site-color-1;
			color:#fff;
		}

		&.style-3{
			background:none;
			@include font-sizes(72px,60px,50px);
			height:auto;
			line-height:1;
			font-family:$font-stack-2;
			text-transform:uppercase;
			padding:0;
			margin:0 0 40px 0;
			.line-1{
				color:$site-color-1;
				display:block;
			}
			.line-2{
				color:#9fa1a4;
				display:block;
			}
		}

		&.style-4{
			background:none;
			@include font-sizes(48px,45px,40px);
			height:auto;
			line-height:1;
			font-family:$font-stack-2;
			text-transform:uppercase;
			padding:0;
			margin:0 0 .5em 0;
			.line-1{
				color:#6d6e71;
				display:block;
			}
			.line-2{
				color:$site-color-1;
				display:block;
			}
		}

		&.style-5{
			background:none;
			@include font-sizes(48px,45px,40px);
			height:auto;
			line-height:1;
			font-family:$font-stack-2;
			text-transform:uppercase;
			padding:0;
			margin:0 0 .5em 0;
			color:$site-color-1;
		}
	}

	h2{
		font-family:$font-stack-2;
		//GREEN, USED IN HOME PAGE
		&.style-2{
			color:$site-color-1;
			@include font-sizes(36px,32px,30px);
			text-transform:uppercase;
			margin:0 0 .5em 0;
		}

		//GREY, USED IN HOME PAGE
		&.style-3{
			color:$site-grey-3;
			@include font-sizes(30px,28px,26px);
			text-transform:uppercase;
			margin:0 0 .6em 0;
		}

		//GREEN, USED IN MY CHANGE 4 LIFE
		&.style-4{
			color:$site-color-1;
			font-size:20px;
			margin:0 0 20px 0;
		}

		//GREY, USED IN HRA
		&.style-5{
			color:#6d6e71;
			font-size:28px;
			text-transform:uppercase;
			margin:0 0 20px 0;
			.alt{
				color:$site-color-1;
			}
		}

		&.style-6{
			color:#6d6e71;
			font-size:24px;
			//text-transform:uppercase;
			margin:0 0 15px 0;
		}
	}

	h3{
		&.style-1{
			@include build-title($font-stack-1, 20px, $site-color-1, none);
			font-weight: bold;
			.alt{
				color: $site-grey-3;
			}
		}
	}

	a{
		color:$site-color-1;
		text-decoration: none;
		&[target="_blank"]{
			text-decoration:underline;
		}
		&:hover, &:focus{
			text-decoration: underline;
		}
	}

	img{
		max-width: 100%;
	}

	//bullet: GREY ARROW
	ul.list-tyle-1{
		margin:0 0 15px 0;
		padding:0;
		list-style:none;
		li{
			background:url(../images/bull-1.png) top left no-repeat;
			padding:0 0 0 25px;
			line-height:1.3;
			margin:0 0 12px 0;
		}
	}

	//bullet: GREY DOT
	ul.list-tyle-2{
		margin:0 0 15px 0;
		padding:0;
		list-style:none;
		li{
			background:url(../images/bull-2.gif) left 5px no-repeat;
			padding:0 0 0 25px;
			line-height:1.3;
			margin:0 0 12px 0;
		}
	}

	.number-list{
		@include build-order-list(#75ad5a, $general-font-color);
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type=number]{
		@include build-input(1px solid #ccc, 4px, #fff, #666, 12px,inset 2px 2px 4px rgba(0,0,0,.3),.6em 1em);
		&.text-input-type-1{
			@include text-input-type-1();
		}
	}
	select{
		@include appearance;
		@include build-input(1px solid #ccc, 4px, #fff, #666, 12px,inset 2px 2px 4px rgba(0,0,0,.3),.6em 1em);
		padding-right: 40px;
		background:#fff url(../images/theme/ddm.jpg) no-repeat center right;
	}

	.radio-button{
		display:inline-block;
		position: relative;
		padding:0!important;
		margin-right: .5em;
		overflow:hidden;
		vertical-align: middle;
		input[type="radio"]{
			visibility: hidden;
			position: absolute;
			top: 0;
			left: -100em;
		}
		.face-radio{
			width:19px;
			height:19px;
			display:inline-block;
			background-image:url(../images/form/radio.png);
			background-repeat:no-repeat;
			background-position:0 0;
		}
		input[type="radio"]:checked ~ .face-radio{
			background-position:bottom left;
		}
	}

	.checkbox-button{
		display:inline-block;
		margin-right: .5em;
		position: relative;
		padding:0!important;
		overflow:hidden;
		vertical-align: middle;
		input[type="checkbox"]{
			visibility: hidden;
			position: absolute;
			top: 0;
			left: -100em;
		}
		.face-checkbox{
			display:inline-block;
			width:18px;
			height:18px;
			background-image:url(../images/checkbox.gif);
			background-position: top center;
			background-repeat: no-repeat;
		}
		input[type="checkbox"]:checked ~ .face-checkbox{
			background-position:bottom center;
		}
	}
}

.general-content{
	@include clearfix;
	ul{
		margin:0 0 15px 0;
		padding:0;
		list-style:none;
		li{
			background:url(../images/bull-2.gif) left 5px no-repeat;
			padding:0 0 0 25px;
			line-height:1.3;
			margin:0 0 12px 0;
			li{

				background:url(../images/dash.png) left 5px no-repeat;
			}
		}
	}
	ol{		
		@include layoutlist;
		>li{
			position:relative;
			padding-left: 2em;
			margin-bottom: 1em;
			line-height: 1.3;
			counter-increment: step;
			&:before{
				content: counter(step) ;
				display: block;
				position: absolute;
				top: 0;
				left: .5em;
				color: $site-color-1;
			}
		}
	}
	.btn{
		@include btn-type-3(14px);
	}
	h2{
		margin:0 0 1em 0;
	}
}

.headline{
	@include font-sizes(16px);
	@include border-radius($general-round-corner);
	border:1px solid $site-color-1;
	padding:1.2;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 20px;
	color: $site-color-1;
}

//right side big box
*{
	.user-info-boxes{
		border:1px solid $site-grey-5;
		padding:10px;
		margin:0 0 15px 0;
		.user-info-box{
			.user-info-box-content{
				line-height: 1.5;
			}
			.has-more-item{
				display: none;
			}
		}

		.user-name{
			font-family: $font-stack-2;
			@include font-sizes(24px);
			text-transform:uppercase;
			color:$site-grey-3;
			margin:0 0 6px 0;
		}

		.user-menu-list{
			@include layoutlist;
			color:$site-grey-5;
			@include font-sizes(12px);
			margin:0 0 .5em 0;
			li{
				display: inline-block;
				vertical-align:middle;
				&:after{
					content: "";
					display:inline-block;
					vertical-align:middle;
					margin:0 6px;
					border-left:1px solid $site-grey-5;
					width: 1px;
					height: 1em;
				}
				a{
					color:$site-color-1;
					font-weight:bold;
					text-transform:uppercase;
					vertical-align:middle;
				}
				&:last-child{
					&:after{
						display: none;
					}
				}
			}
		}

		h3{
			position: relative;
			text-transform:uppercase;
			@include font-size(14px);
			font-weight:bold;
			line-height:1.3;
			color:$site-grey-3;
			background:$site-grey-1;
			padding:10px 40px 10px 8px;
			margin:0 0 8px 0;
			.title-btn{
				display:block;
				width:40px;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				text-indent:-1000px;
				overflow:hidden;

				background:url(../images/user-info-state-close.jpg) center center;
				&.shown{
					background:url(../images/user-info-state-open.jpg) center center;
				}
			}
		}

		.name-points-bar{
			width: 100%;
			display: table;
			margin:0 0 10px 0;
			.cell{
				display: table-cell;
				padding:0 10px;
			}
			.name{
				text-align:left;
				@include font-sizes(14px);
				line-height: 1.1;
			}
			.points{
				text-align:right;
			}
		}

		.left-right-btns{
			@include font-sizes(14px);
		}
	}

	.user-update-email{
		background:#a8a9ab url(../images/email2.png) 10px 2px no-repeat;
		color:#fff;
		padding:.8em 10px .8em 45px;
		margin-bottom: .8em;
		a{
			color:#fff;
		}
	}

	#time-zone{
		a{
			white-space: nowrap;
			color:$site-grey-3;
		}
	}

	.points-links-bar{
		display:table;
		width:100%;
		@include font-size(14px);
		.part-1{
			@include font-size(11px);
			display: table-cell;
			text-align: left;
			width: 55%;
			background: #e6e7e8;
			padding:6px;
			.num{
				background: $site-color-1;
				color:#fff;
				display: inline-block;
				padding:5px;
				@include font-size(16px);
				float: left;
				margin-right: 6px;
			}
		}
		.part-2{
			display: table-cell;
			width: 45%;
			background: $site-color-1;
			padding:6px;
			vertical-align: middle;
			text-align: left;
			a{
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

@include bp-small{
	.my-points{
		border:1px solid #ccc;
		width: 100%;
		display: block;
		width: auto;
		padding:10px;
		margin-bottom: 1em;
		.cell{
			display: block;
			padding: 0;
		}
		.points-balance{
			width: 100%;
		}
	}
}

.cal-tbl{
	border:1px solid $site-color-1;
	width:100%;
	margin-bottom: 20px;
	caption{
		background: $site-color-1;
		color: #fff;
		@include font-size(20px);
		text-align: center;
		padding:10px;
	}
	th{
		border:1px solid #fff;
		background:#afb1b3;
		padding:5px;
		color: #464748;
		@include font-sizes(20px,18px,16px);
		font-family: $font-stack-2;
		text-align: center;
	}
	td{
		border:1px solid $site-color-1;
		@include font-size(14px);
		position: relative;
		padding:1em;
		height: 3em;
		width: 1/7*100%;
	}
	.date{
		position:absolute;
		top: 2px;
		left: 2px;
		display: block;
		color: #000;
	}
	.checked{
		position:absolute;
		top: 1em;
		left: 0;
		right: 0;
		display: block;
		text-align: center;
		padding:8px 0 0 0;
	}

	.inactive{
		.date{
			color:#aaabad;
		}
	}
}

.pager{
	margin:0 0 20px 0;
	ul{
		li{
			display:inline-block;
			&.pager-next{
				a{
					background:url(../images/link-pager-next.gif) no-repeat;
					display:block;
					width:22px;
					height:22px;
					text-decoration:none;
				}
			}
			&.pager-prev{
				a{
					background:url(../images/link-pager-prev.gif) no-repeat;
					display:block;
					width:22px;
					height:22px;
					text-decoration:none;
				}
			}
		}
		a.active{
			font-weight:bold;
			text-decoration:none;
		}
	}
}

.survey-group{
	display:table;
	width:100%;
	margin:0 0 30px 0;
	@include font-sizes(17px);
	.survey-item{
		@include font-size(16px);
		display:table-row;
		.question{
			display:table-cell;
			color:#6d6e71;
			padding:10px;
			//border-bottom:1px solid #d2d2d2;
			padding-right:1em;
			width: 45%;
			a{
				display: inline-block;
				width: 18px;
				height: 18px;
				line-height: 18px;
				border:1px solid $site-color-1;
				text-align: center;
				@include border-radius(50%);
			}
			h3{
				@include font-sizes(25px);
				color:$site-color-1;
				font-family: $font-stack-2;
				margin: 0;
			}
		}
		.options{
			display:table-cell;
			padding:10px;
			//border-bottom:1px solid #d2d2d2;
			label{
				white-space:nowrap;
			}
		}
		.message{
			display:table-cell;
			text-align: left;
			padding:10px;
			//border-bottom:1px solid #d2d2d2;
			padding-right:0;
			color:$site-grey-3;
			margin:1em 0;
			.size-s{
				font-weight: normal;
				@include font-sizes(16px);
			}
			h3{
				@include font-sizes(25px);
				color:$site-color-1;
				font-family: $font-stack-2;
				margin: 0;
			}
		}
		.congrats{
			@include font-sizes(14px);
			font-weight:bold;
			color:$site-color-1;
		}
		&:last-child{
			div{
				border-bottom:none;
			}
		}

		&.head{
			.question,.message{
				border-top:2px solid #cacacb;
			}
			&:first-child{
				.question,.message{
					border-top:none;
				}
			}
		}
	}
	border-bottom:2px solid #cacacb;
}

.hints-btn-pair{
	.btn-hints{
		@include btn-type-4(14px);
		font-family:$font-stack-1;
		line-height:22px;
	}
	.btn{

		@include btn-type-1(14px);
		font-family:$font-stack-1;
	}
}

.btns-pair{
	margin:0 0 10px 0;
	.btn{
		&.yes{
			@include btn-type-1(22px);
			width:290px;
			margin:0 0 10px 0;
			display:block;
		}
		&.no{
			@include btn-type-1(22px);
			width:290px;
			margin:0 0 10px 0;
			display:block;
		}
	}
}

.points-pledge{
	background: url(../images/theme/points-pledge-en.png) top left no-repeat;
	display: inline-block;
	padding:26px 0 105px 0;
	width: 123px;
	height: 50px;
	text-align: center;
	color: #8dc63f;
	font-size: 35px;
	line-height: 50px;
}

.points-badge,
.points-pledge2{
	background: url(../images/theme/points-pledge-2-en.png) top left no-repeat;
	display: inline-block;
	padding:21px 0 0 0;
	width: 96px;
	height: 120px;
	text-align: center;
	color: #8dc63f;
	font-size: 32px;
	line-height: 1;
}

/* .points-badge{
	background: url(../images/points.png) no-repeat;
	width:90px;
	height: 65px;
	padding:25px 0 0 0;
	@include font-size(22px);
	line-height:1;
	text-align: center;
	display: inline-block;
	color: #fff;
		
	&.alt{
		width:123px;
		height: 151px;
		padding:30px 0 0 0;
		background: url(../images/points-alt.png) no-repeat;
		color:$site-color-1;
		font-family: leagueGothic, arial, helvetica;
		@include font-size(50px);
	}
} */

@import "pages/_home";
@import "pages/_spotlight";
@import "pages/_learn";
@import "pages/_medications";
@import "pages/_tools";
@import "pages/_rewards";
@import "pages/_hra";
@import "pages/_ki";