
/* 
.spotlight-page{
    textarea{ 
        @include box-model(border-box);     
        width:100%;
        height:80px;
    }
    &.general-content{
        ol{
            list-style:decimal;
            padding:0 0 0 1em;
            li{
                margin:0 0 1em 0;
            }
        }
         ul{
            li{
                background:url(../images/bull-2.gif) left 5px no-repeat;
                padding:0 0 0 35px;
                line-height:1.3;
                margin:0 0 1em 0;
                .highlight{
                    font-weight:bold;
                    color:$site-color-1;
                }
                b{
                    color:$site-color-1;
                    font-weight:bold;
                }
            }
            margin:0 0 20px 0;
        }
    }

    .news-title{
       @include font-sizes(22px);
       font-family: $font-stack-2;
       color:$site-color-1;
       margin:0 0 1em 0;
    }

    .text-2{
        font-family:$font-stack-2;
        color:$site-color-1;
        @include font-sizes(35px);
    }

    .highlight-2{
        @include font-sizes(20px);
        color:$site-color-1;
    }
    .highlight-3{
        @include font-sizes(18px);
        color:$site-color-1;
    }    

    .box-btns{
        text-align:right;
        p{
            margin:0 0 5px 0;
        }
    }

    .issue-date{
        font-weight:bold;
        color:#4d4d4d;
        margin:0 0 10px 0;
    }



    .sponsor{
        text-align:right;
    }

    .rate-points{
        font-weight:bold;
        .value{
            color:#8dc63f;
            white-space:nowrap;
        }
        .value-thankyou{
            @include font-size(12px);
        }
    }



    .rss-list{
        margin:0;
        padding:0;
        list-style:none;
        @include font-sizes(17px);
        font-weight:bold;
        color:$site-color-1;
        li{
            @include clearfix();
            background:#f7f6f6;
            padding:20px 10px;
            margin:0 0 5px 0;
            i{
                color:#878787;
                float:right;
            }
            &.title{
                background:#eaeaea;
                text-align:color;
                padding:0;
            }
        }
    }
    
    .news-letters-list{
        @include layoutlist;
        li{
            @include clearfix();
            margin:0 0 25px 0;
            .image{
                width:39.2%;
                float:left;
            }
            .teaser{
                width:58%;
                float:right;
            }
            padding:0;
            background:none;
            &:first-child{
                .image{
                    width:53.4%;
                }
                .teaser{
                    width:41%;
                }
            }
        }
        h3{
            @include font-sizes(18px);
            line-height:1.3;
            margin:0;
            color:$site-color-1;
        }
        .date{
            @include font-sizes(14px);
            color:#464646;
        }
    }

    .recipe-list{
        @include layoutlist;
        li{
            border:1px solid #e6e7e8;
            padding:20px 0;
            background:#fff;
            width:48%;
            float:left;
            margin:0 0 20px 0;
            &:nth-child(2n){
                float:right;
            }
        }
        h3{
            @include font-sizes(18px);
            line-height:1.3;
            min-height:80px;
            margin:0;
            font-weight:bold;
            color:$site-color-1;
            padding:0 20px;
            a{
                color:$site-color-1;
            }
        }
        .image{
            padding:20px;
        }
        .teaser{
            line-height:1.3;
            padding:0 20px;
            min-height:170px;
        }
        .box-btns{
            padding:0 20px;            
        }
    }

    .form{
        .field{
            @include clearfix();
            margin:0 0 8px 0;
            &.style-1{
                color:#6d6e71;
                @include font-sizes(18px);
                margin:0 0 15px 0
            }
        }
    }

    .smart{
        margin:0 0 40px 0;
        .item{
            margin:0 0 5px 0;
            background:#e6e7e8;
        }
        .intro{
            display:table;
            width:100%;
            margin:0;
            .lead{
                display:table-cell;
                vertical-align:middle;
                color:#fff;
                @include font-sizes(44px);
                font-weight:bold;
                background:#8dc63f;
                padding:15px;
                width:50px;
                text-align:center;
                &.alt{
                    background:#6d6e71;
                }
            }
            .text{
                display:table-cell;
                vertical-align:middle;
                text-align:left;
                padding:15px;
                line-height:1.3;
                .line-1{
                    @include font-sizes(19px);
                    font-weight:bold;
                    color:$site-color-1;
                }
            }
        }
        .input{
            padding:12px 15px;
            textarea{
                background:#fff;
                @include font-sizes(12px);
                border:none;
                @include border-radius(0);
                @include shadow(none)
            }
        }
    }

    .boxes-group-1{
        @include clearfix();
        margin:0 0 35px 0;
        .box{
            width:49%;
            float:left;
            margin:0 0 20px 0;
            &:nth-child(2n){
                float:right;
            }
            .part-1{
                @include clearfix();
                padding:20px 20px 0 20px;
                min-height:150px;
                background:#8dc63f;
                color:#fff;
                .line-1{
                    @include font-sizes(24px);
                    font-weight:bold;
                    margin:0 0 10px 0;
                }
            }
            .part-2{
                background:#a7a9ac;
                color:#fff;
                padding:15px;
                @include font-sizes(15px);
                font-weight:bold;
            }
            .part-3{
                background:#e6e7e8;
                padding:20px 15px;
                .line-1{
                    @include font-sizes(18px);
                    color:$site-color-1;
                    font-weight:bold;
                }
                .line-1{
                    @include font-sizes(14px);
                }
            }
        }
    }

}


#cbc_div{
    dl{
        margin:0 0 1em 0;
        line-height:1.3;
        dt{
            margin:0 0 .5em 0;
        }
        dd{
            margin:0 0 .5em 0;
        }
    }
}

.active-pile{
    width: 48%;
    max-width: 320px;
    float: left;
    &:nth-child(2n){
      float: right;  
    }
    margin: 25px 0 120px 0;
    .part-1{
        color:#fff;
        @include font-sizes(18px);
        background:#8dc63f;
        padding:20px;
        height: 140px;
        .icon{
            float: left;
            margin: -20px 10px 0 -20px;
        }
        @include clearfix();
        .line-1{
            @include font-sizes(24px);
            min-height: 70px;
            margin-bottom: 10px;
        }
        .line-2{
            @include font-sizes(16px);
            @include clearfix;
        }
    }
    .part-2{
        background: #a7a9ac;
        color:#fff;
        @include font-sizes(16px);
        padding:20px;
        a{
            color:#fff;
        }
        .line-1{
           @include font-sizes(16px);
        }
        .line-2{
            @include font-sizes(14px);
        }
        .line-3{
            @include font-sizes(12px);
            font-style: italic;
        }
        .line-3{
            @include font-sizes(12px);
        }
        .progress-holder{
            background: none;
        }
    }
    .part-3{
        padding:20px;
        background: #e6e7e8;
        .line-1{
            color:#8dc63e;
            font-weight: bold;
        }
    }

    &.completed{
        .part-1{
            background-color: #d1d3d4;
        }
        .part-2{
            background: #8a8b8c;
        }
    }
}

.grey-box{
    background: #e6e7e8;
    padding:20px;
    color:#5e5f60;
    h2{
        @include font-sizes(22px);
        font-weight: bold;
        color:#5e5f60;
    }
}

.bar-1{
    @include clearfix();
    margin-bottom: 3em;
    .part-1{
        float: left;
        width: 35%;
        text-align:center;
    }
    .part-2{
        float: right;
        width: 60%;
    }
}

.yes-no-btn{
    min-width: 7em;
    margin: 0 1em;
}


.congrats-2{
    @include font-sizes(18px);
    color:$site-color-1;
} */